@import './variaveisefuncoes';
$corHoras: aliceblue;

.horas {
    @include flexCenter($corHoras);
    width: 500px;
    height: 120px;
    gap: 40px;
    border-radius: 50px;
    box-shadow: 4px 4px 50px rgba(36, 36, 111, 1);

    span {
        font-size: 120px;
      }
    @media (max-width: $responsividade) {
        @include flexCenter($corHoras);
        flex-direction: column;
        height: 500px;
        width: 120px;
      }
}